* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

body, #slider, .wrap, .slide-content {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url('img/img1.svg');
}

.slide2 {
  background-image: url('img/img2.svg');
}

.slide3 {
  background-image: url('img/img3.svg');
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* CSS make-your-own triangle */
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 3em;
}

#arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 3em;
}
